	.progress-indicator{
	background:#e9e9e9;
	border-radius:3px;
	height:5px;
	overflow:hidden;
	position:relative;
	/*width:100%;*/
	width: 150px;
	margin-bottom: 10px;
}

.progress-indicator-value{
	-moz-animation:progressSlide 1s infinite linear;
	-o-animation:progressSlide 1s infinite linear;
	-webkit-animation:progressSlide 1s infinite linear;
	animation:progressSlide 1s infinite linear;
	background:transparent;
	background-size:20px 5px;
	background-image:-webkit-linear-gradient(0deg,#ccc 50%,transparent 50%,transparent 100%);
	background-image:-moz-linear-gradient(0deg,#ccc 50%,transparent 50%,transparent 100%);
	background-image:-o-linear-gradient(0deg,#ccc 50%,transparent 50%,transparent 100%);
	background-image:linear-gradient(90deg,#ccc 50%,transparent 50%,transparent 100%);
	border-radius:3px;
	display:block;
	height:5px;
	-webkit-transform:skewX(45deg);
	transform:skewX(45deg);
	/*position:absolute;*/
	width:100%;
}

@-moz-keyframes progressSlide{
	0%{background-position:20px;}
	100%{background-position:0 0;}
}
@-o-keyframes progressSlide{
	0%{background-position:20px;}
	100%{background-position:0 0;}
}
@-webkit-keyframes progressSlide{
	0%{background-position:20px;}
	100%{background-position:0 0;}
}
@keyframes progressSlide{
	0%{background-position:20px;}
	100%{background-position:0 0;}
}

.progress-indicator[data-value] .progress-indicator-value{
	background:#3b73af;
	border-radius:3px 0 0 3px;
	-webkit-transition:width .5s;
	transition:width .5s;
	-webkit-transform:skewX(0);
	transform:skewX(0);
}
.progress-indicator-static[data-value] .progress-indicator-value{
	-webkit-transition:none;
	transition:width none;
}
.progress-indicator[data-value="1"] .progress-indicator-value{
	border-radius:3px;
}




